.Sidebar {
    flex-shrink: 0;
    flex: 1;
    box-sizing: border-box;
    width: 250px;
    /* background-color: var(--main-color);
    color: var(--second-color); */
    position: sticky;
    top: 16px;
    height: calc(100vh - 66px - 16px);
    margin-left: 16px;
    align-self: start;
    z-index: 101;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.custom-menu {
    font-size: 14px;
}

:where(.css-dev-only-do-not-override-z2ycem).ant-menu-inline-collapsed>.ant-menu-item,
:where(.css-dev-only-do-not-override-z2ycem).ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
:where(.css-dev-only-do-not-override-z2ycem).ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-z2ycem).ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    padding-inline: calc(50% - 8px - 6px);
}

.menu-icon {
    width: 20px;
    height: 20px;
    fill: black;
    transition: fill 0.3s ease-in-out;
}

.ant-menu-item-selected .menu-icon,
.ant-menu-submenu-selected .menu-icon {
    fill: var(--active-color);
}