@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --active-color: #BC2626;
  --main-color: #051A53;
  /* --main-color: #bc2626; */
  --main-color-rgb: rgb(5, 26, 83);
  --secondary-color: #ffffff;
  --bg-color: #f5f5f7;
  --hover-active-color: #ac3737;
  /* --hover-sidebar-color: rgb(216, 80, 80); */
  --hover-sidebar-color: #414c6b;
}

body {
  margin: 0;
  font-family: -apple-system, "Inter", SF Pro, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f6;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}